<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/Theme.FirstApp"
        android:usesCleartextTraffic="true">

        <!-- LAUNCHER (Intro Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign In -->
        <activity
            android:name=".signin"
            android:exported="false" />

        <!-- Bottom Navigation Activity -->
        <activity
            android:name=".MainActivity_page1"
            android:exported="false" />

        <!-- Other screens -->
        <activity android:name=".signup" />
        <activity android:name=".mainpage" />
        <activity android:name=".main_page_2" />

    </application>
</manifest>
